* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(230, 230, 230);
}

.container:not(.types),
.wrapper-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper-header {
    text-align: center;
    font-size: 2rem;
}

.container.types {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgb(37, 100, 177);
    border-top-color: transparent;
    animation: spinner 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    word-break: break-all;
    border-radius: 5px;
    padding: 13px;
}

.search {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(230, 230, 230);
}

a {
    color: rgb(48, 75, 207);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header,
.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.2s;
    white-space: nowrap;
}

button:hover {
    background-color: rgb(242, 242, 242);
}

button.selected {
    background-color: rgb(37, 100, 177);
    color: white;
}
